
                <!-- ============================================================== -->
                <div class="row page-titles">
                  <div class="col-md-5 align-self-center">
                      <h3 class="text-themecolor">Manual de Operaciones</h3>
                  </div>
                  <div class="col-md-7 align-self-center">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
                          <li class="breadcrumb-item active">Manual de Operaciones</li>
                      </ol>
                  </div>
                  <div class="">
                      <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                  </div>
              </div>
              <!-- ============================================================== -->
              <!-- End Bread crumb and right sidebar toggle -->

              <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                              <button mat-icon-button disabled></button>
                              {{node.item}}
                            </mat-tree-node>
                            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                              <button mat-icon-button
                                      [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
                                <mat-icon class="mat-icon-rtl-mirror">
                                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                              </button>
                              {{node.item}}
                              <mat-progress-bar *ngIf="node.isLoading"
                                                mode="indeterminate"
                                                class="example-tree-progress-bar"></mat-progress-bar>
                            </mat-tree-node>
                          </mat-tree>
                          </div>
                    </div>
                </div>
              </div>

